<div class="modal-header">
    <h3 class="modal-title">Pick winner or draw</h3>
</div>
<div class="modal-body">
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default forecast"  ng-model="game.forecast.forecast" btn-radio="1" ng-click="clear_score()">
          <img ng-src="{{iconUrl(game.host)}}"><br>
          {{game.host}} Win
        </button>
        <button type="button" class="btn btn-default forecast" ng-model="game.forecast.forecast" btn-radio="3" ng-click="clear_score()">Draw</button>
        <button type="button" class="btn btn-default forecast" ng-model="game.forecast.forecast" btn-radio="2" ng-click="clear_score()">
          <img ng-src="{{iconUrl(game.guest)}}"><br>
          {{game.guest}} Win
        </button>
    </div>
    <div class="prediction" ng-show="game.forecast.forecast">


      <h4>Final score prediction:</h4>
      <form class="form-inline">
        <div class="form-group">
            <select ng-options="score for score in team_host_range" ng-model="game.forecast.team_host_goals"></select>
        </div>
        :
        <div class="form-group">
            <select ng-options="score for score in team_guest_range" ng-model="game.forecast.team_guest_goals"></select>
        </div>
      </form>
    </div>
</div>
<div class="modal-footer">
    <a href="" ng-click="cancel()" style="padding-right: 5px;">Cancel</a>
    <button class="btn btn-success" ng-click="save()" ng-disabled="!isScoreValid()">Save my forecast</button>
</div>