{% extends "admin/layout.html" %}
{% block body %}

<h1 class="page-header">Add new game</h1>
{% from "admin/_formhelper.html" import render_field %}
<form method="POST">
    {{ form.csrf_token }}
    {{ render_field(form.team_1) }}
    {{ render_field(form.team_2) }}
    {{ render_field(form.date) }}
    <div>
        <button type="submit" class="btn btn-default">Add game</button>
        <a href="{{url_for('.games')}}">Cancel</a>
    </div>
</form>
{% endblock %}

{% block inline_javascript %}
$('#date').pickmeup({'format': 'y-m-d H:M:S'});
{% endblock %}