<div class="modal-header">
    <h3 class="modal-title">Pick your team</h3>
</div>
<div class="modal-body">
    <div class="btn-group btn-group-lg">
        <button type="button" class="btn btn-default forecast"  ng-model="forecast.forecast" btn-radio="1" ng-click="clear_score()">
          <img ng-src="/icons/48/{{game.host}}.png"><br>
          {{game.host}} Win
        </button>
        <button type="button" class="btn btn-default forecast" ng-model="forecast.forecast" btn-radio="3" ng-click="clear_score()">Draw</button>
        <button type="button" class="btn btn-default forecast" ng-model="forecast.forecast" btn-radio="2" ng-click="clear_score()">
          <img ng-src="/icons/48/{{game.guest}}.png"><br>
          {{game.guest}} Win
        </button>
    </div>
    <div class="prediction" ng-show="forecast.forecast">

      <div ng-show="analyze()"><alert>{{error}}</alert></div>

      <h4>Final score prediction:</h4>
      <form class="form-inline" name="NumbersForm">
        <div class="form-group">
          <input type="number" class="form-control input-score center" id="teama-score" placeholder="{{game.host}}" ng-model="forecast.team_host_goals">
        </div>
        :
        <div class="form-group">
          <input type="number" class="form-control input-score center" id="teamb-score" placeholder="{{game.guest}}" ng-model="forecast.team_guest_goals">
        </div>
      </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#" ng-click="cancel()" style="padding-right: 5px;">Cancel</a>
    <button class="btn btn-success" ng-click="save()" ng-disabled="!isValid()">Save my forecast</button>
</div>