  <div class="page-header">
    <h1>Upcoming Games</h1>
  </div>
  <div class="table-responsive">
      <table class="table table-bordered table-striped upcoming" ng-repeat="(k, g) in games">
          <tbody>
            <tr>
              <th colspan="7">{{k}}</th>
              <th class="group">Your Bet</th>
            </tr>
            <tr class="upcoming-game" ng-repeat="game in g" ng-click="do_forecast(game)">
              <td class="game-time">{{game.time}} PM ET</td>
              <td class="weather"><span class="glyphicon glyphicon-cloud"></span></td>
              <td class="team-info flag"><img  ng-src="/icons/48/{{game.host_i}}.png"></td>
              <td class="team-info teama">{{game.host}}</td>
              <td class="team-info vs">vs.</td>
              <td class="team-info teamb">{{game.guest}}</td>
              <td class="team-info flag"><img ng-src="/icons/48/{{game.guest_i}}.png"></td>
              <td class="group flag"><div ng-show="hasForecast(game)"><img ng-src="/icons/48/{{game.host_i}}.png"></div></td>
            </tr>
          </tbody>
      </table>

  </div>
</div>