<div class="landing">
  <img src="/static/img/stadium.jpg" class="bg">
</div>
<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Who will rise on soccer's biggest stage?</h1>
    <p class="lead">Predict the next match today!</p>
    <!--<p class="lead">
      <a ng-href="https://loginza.ru/api/widget?token_url={{settings.url_root}}user/autoregister&providers_set=facebook,twitter,google,vkontakte&lang=en" class="btn btn-lg btn-success">Sign In</a>
    </p>-->
    <p class="lead">
        <a href="" class="btn btn-lg btn-success" ng-click="signinForm()">Sign in</a>
    </p>
  </div>
</div>